/* FONTS */

@font-face {
    font-family: 'Poppins';
    src: url(fonts/poppins.woff2);
}

@font-face {
    font-family: 'Moon Walk';
    src: url(fonts/moon-walk.woff2);
}

/* FONTS */

/* ROOT STYLE */

:root {
    --background-color: #FFFFFF;
    --primary-color: #000000;
    --secondary-color: #222222;
    --accent-color: #0077FF;
    --border-color: #C7D4DF;
}

/* ROOT STYLE */

/* STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::selection {
    color: var(--background-color);
    background-color: var(--accent-color);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: 'Poppins';
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 110px;
}

section .heading {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 40px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

section .heading h3 {
    font-size: 2rem;
}

section .heading p {
    font-size: 1.1rem;
}

section .heading h3 span {
    color: var(--accent-color);
}

section .heading .line {
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

section .heading .line .short-line {
    width: 80px;
    height: 100%;
    background-color: var(--accent-color);
}

p{
    color: var(--secondary-color);
}

/* STYLES */

/* NAVBAR */

.header {
    width: 100%;
    max-width: 1280px;
    height: 110px;
    padding: 20px;
    position: fixed;
    z-index: 4;
}

.header .navbar {
    height: 70px;
    padding: 0 20px;
    background-color: #FFFFFFFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.header .navbar .logo h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Moon Walk';
    color: var(--primary-color);
}

.header .navbar .nav-links {
    display: flex;
    list-style: none;
}

.header .navbar .nav-links li {
    margin: 0 20px;
}

.header .navbar .nav-links li a {
    color: var(--dark-color);
    font-size: 1.2rem;
    transition: 0.5s;
}

.header .navbar .nav-links li a:hover {
    color: var(--accent-color);
}

.header .navbar .menu-icon {
    display: none;
    cursor: pointer;
}

.header .navbar .menu-icon img {
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.header .navbar .button a {
    font-size: 1.2rem;
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    transition: 0.5s;
}

.header .navbar .button a:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
}

/* NAVBAR */

/* HOME */

.home {
    padding: 40px 20px;
    text-align: center;
}

.home p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.home p span {
    font-family: 'Moon Walk';
    letter-spacing: 1px;
    color: var(--accent-color);
}

.home h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.home a .get {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    transition: 0.5s;
}

.home a .get:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
}

/* HOME */

/* SERVICES */

.services {
    padding: 110px 20px 0 20px;
}

.services .servs {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.services .servs .serv-box {
    text-align: center;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.services .servs .serv-box img {
    width: 70%;
    margin-bottom: 10px;
}

.services .servs .serv-box h3 {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.services .servs .serv-box p {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.services .servs .serv-box a {
    color: var(--accent-color);
}

/* SERVICES */

/* ABOUT */

.about {
    padding: 110px 20px 0 20px;
}

.about .upper-box {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.about .upper-box .upbox {
    padding: 30px 20px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.about .upper-box .upbox .upbox-head {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    margin-bottom: 10px;
}

.about .upper-box .upbox .upbox-head img {
    width: 1.6rem;
}

.about .upper-box .upbox .upbox-head h3 {
    font-size: 1.6rem;
    color: var(--accent-color);
}

.about .lower-box {
    padding: 30px 20px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: 0.5s;
}

.about .lower-box .choose-head {
    text-align: center;
    margin-bottom: 40px;
}

.about .lower-box .choose-head h3 {
    font-size: 2rem;
}

.about .lower-box .categ {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.about .lower-box .categ .categ-box {
    text-align: center;
    padding: 10px 0;
}

.about .lower-box .categ .categ-box img {
    width: 2.5rem;
    margin-bottom: 5px;
}

.about .lower-box .categ .categ-box h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

/* ABOUT */

/* WORK */

.work {
    padding: 110px 20px 0 20px;
}

.work .work-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.work .work-box img {
    width: 280px;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.work .work-box img:hover {
    scale: 1.01;
}

/* WORK */

/* PRICING */

.pricing {
    padding: 110px 20px;
}

.pricing .price {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
}

.pricing .price .price-box {
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 40px 20px;
}

.pricing .price .standard {
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0 20px 40px 20px;
    box-shadow: 0 5px 10px var(--border-color);
}

.pricing .price .standard p {
    margin-bottom: 40px;
    text-align: left;
    width: fit-content;
    padding: 5px 20px;
    font-size: 1.2rem;
    color: var(--background-color);
    background-color: var(--primary-color);
}

.pricing .price .price-box h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.pricing .price .price-box ul {
    margin-bottom: 20px;
}

.pricing .price .price-box ul li {
    text-align: left;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.pricing .price .price-box ul li span {
    color: var(--accent-color);
}

.pricing .price .price-box .buy {
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--background-color);
    padding: 12px 16px;
    transition: 0.5s;
    cursor: pointer;
}

.pricing .price .price-box .buy:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.pricing .price .standard .buy {
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    color: var(--background-color);
    background-color: var(--accent-color);
    padding: 12px 16px;
    transition: 0.5s;
    cursor: pointer;
}

.pricing .price .standard .buy:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
}

/* PRICING */

/* HIRE */

.hire {
    padding: 0 20px;
}

.hire .hire-box {
    color: var(--background-color);
    background-color: var(--accent-color);
    text-align: center;
    border-radius: 10px;
    padding: 80px 20px;
}

.hire .hire-box h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.hire .hire-box p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: var(--background-color);
}

.hire .hire-box a .btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    color: var(--accent-color);
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    transition: 0.5s;
}

.hire .hire-box a .btn:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
}

/* HIRE */

/* CONTACT */

.contact {
    padding: 110px 20px;
}

.contact .form form{
    width: 100%;
    display: grid;
    color: var(--secondary-color);
}

.contact .form form label{
    margin-bottom: 5px;
}

.contact .form form input{
    margin-bottom: 20px;
    font-family: 'Poppins';
    padding: 10px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.contact .form form select{
    margin-bottom: 20px;
    font-family: 'Poppins';
    padding: 10px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.contact .form form textarea{
    height: 100px;
    resize: none;
    margin-bottom: 20px;
    font-family: 'Poppins';
    padding: 10px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.contact .form form button{
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Poppins';
    color: var(--background-color);
    background-color: var(--primary-color);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.contact .form form button:hover{
    color: var(--primary-color);
    background-color: var(--border-color);
}

/* CONTACT */

/* FOOTER */

.footer {
    display: grid;
}

.footer .subfooter {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 5rem 20px;
}

.footer .subfooter .subfooter-box h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Moon Walk';
}

.footer .subfooter .subfooter-box h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.footer .subfooter .subfooter-box ul li {
    margin-bottom: 2px;
}

.footer .subfooter .subfooter-box ul li a {
    color: var(--primary-color);
    transition: 0.5s;
}

.footer .subfooter .subfooter-box ul li a:hover {
    color: var(--accent-color);
}

.footer .copy {
    padding: 20px;
    text-align: center;
}

.footer .copy p {
    font-size: 1.05rem;
}

.footer .copy p a {
    color: var(--accent-color);
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
}

/* FOOTER */

/* BACK TO TOP */

.top a {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    padding: 7px;
    z-index: 99;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: .3s;
    cursor: pointer;
    animation: visibility 1s linear;
    animation-timeline: scroll(Y);
}

@keyframes visibility {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.top a img {
    width: 100%;
}

/* BACK TO TOP */

/* RESPONSIVE QUERIES */

@media (max-width: 900px) {
    .header .navbar .button {
        display: none;
    }

    .home h1 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .header .navbar .menu-icon {
        display: grid;
        justify-content: center;
        align-items: center;
        right: 40px;
        z-index: 9;
    }

    .header .navbar .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        background-color: #FFFFFFF0;
        backdrop-filter: blur(5px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        z-index: 7;
        overflow: hidden;
        transition: 0.5s;
    }

    .header .navbar .nav-links.open {
        width: 100%;
    }

    .header .navbar .nav-links li {
        margin: 10px 0;
    }

    .header .navbar .nav-links li a {
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .home h1 {
        font-size: 3.5rem;
    }

    .work .work-box img {
        width: 250px;
    }
}

@media (max-width: 425px) {

    .home,
    .services .servs .serv-box {
        padding: 20px;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .services .servs,
    .pricing .price {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* RESPONSIVE QUERIES */
